body {
    font-family: Arial, sans-serif;
    background-color: #424C55;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

}
.foto{
    max-width: 20%;
    height: auto;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #886F68;
    color: #3D2C2E;
    padding-top: 3%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.line{
    display: inline;
}
.sidebar ul li {
    margin: 0;
}

.sidebar ul li a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.content {
    text-align: center;
}
.text{
    text-align: center;
    border: solid;
}
table {
    border-collapse: collapse;
    /*width: 60%;*/
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}
.sof{
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 70%;
    justify-content: flex-end;
    margin-left: 20%;
    padding: 5%;
}